<p>Search By Borough:</p>
<%= form_with(url: courts_path, method: :get, local: true) do |f|%>
    <%= f.select :borough, ["Select A Borough:", "Bronx", "Brooklyn", "Manhattan", "Staten Island", "Queens", "All Boroughs"]%>
    <%= f.submit "Select" %>
<% end %>
<p>Search By Name:</p>
<%= form_with(url: courts_path, method: :get, local: true) do |f| %>
    <%= f.text_field :court_name %>
    <%= f.submit "Search" %>
    <%# f.text_field :court_name, list: "courts autocomplete" %>
    <!-- datalist id= "courts autocomplete"-->
    <%# Court.all.each do |court| %> 
    <!-- option value= "<%# court.name %>"-->
      <%# end %>
      <!-- /datalist -->
<% end %>

<p>Search For Nearby Courts:</p>
<%= form_with(url: courts_path, method: :get, local: true) do |f|%>
    <%= f.select :distance, ["Select A Distance:", "1 Mile", "2 Miles", "5 Miles",]%>
    <%= f.submit "Select" %>
<% end %>
<%#  <%= button_to "Find Nearby Courts", courts_path, method: "get", params: { nearby: params[:nearby] } %>

<%= button_to "All Courts", courts_path, method: "get" %>

<% @courts.each do |court| %>
    <p><%= link_to court.name, court_path(court) %> </p>
<% end %>



