
<p>Find Nearby Players to Connect With!</p>
<%= form_with(url: players_path, method: :get, local: true) do |f|%>
    <%= f.select :distance, ["Select A Distance:","1 Mile", "5 Miles", "10 Miles", "All Players"]%>
    <%= f.submit "Select" %>
<% end %>

<p>Find Other Players By Level</p>
<%= form_with(url: players_path, method: :get, local: true) do |f|%>
    <%= f.select :player_level, ["Select A Level:","1.0", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5", "5.0"]%>
    <%= f.submit "Select" %>
<% end %>

<% @players.each do |player| %>
<%= link_to player.username, player_path(player) %>
<% end%>

